* {
  /* border: 1px solid white; */
}

.breadcrumbs {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size:x-large;
  padding: 10px 0;
  gap: 1rem;
}

.breadcrumbs:hover {
  font-weight: normal;
}

.links a {
  text-decoration: none;
}

html {
  height: 100%;
  background-color: #1a1a1a;
  opacity: 0.8;
  color: #cccccc;
}

h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  color: #cccccc;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: underline dashed;
}

pre {
  white-space: pre-wrap;
}

a:link {
  color: #cccccc;
}

a:visited {
  color: #cccccc;
}

a:hover {
  font-weight: bold;
  color: #cccccc;
}

a:active {
  color: #cccccc;
}


.title {
  display: inline-block;
  text-align: left;
}

.logo {
  width: 40px;
}