* {
  /* border: 1px solid white; */
  padding: 2px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: x-large;
  padding: 10px 0;
  gap: 1rem;
}

.breadcrumbs:link {
  color: #a9a9b3;
  text-decoration: none;
}

.breadcrumbs:hover {
  font-weight: normal;
  color: #8f8f8f;
}

.breadcrumbs:visited {
  color: #8f8f8f;
}

img {
  padding: 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

nav.links ul {
  margin-left: 1rem;
  gap: .15rem;
}

footer.footer {
  text-align: center;
}

html {
  height: 100%;
  background-color: #1b1c1d;
  color: #cbcbcf;
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
}

body {
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: #63b3ed;
  text-decoration: none;
}

a:visited {
  color: #63b3ed;
}

a:hover {
  text-decoration: underline dashed;
  color: #63b3ed;
}

a:active {
  color: #63b3ed;
}

.title {
  display: inline-block;
  text-align: left;
}

.logo {
  width: 40px;
}

dl dd {
  padding: 5px 0 20px 0;
}

ul, ol {
  margin: 0 1rem;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1,
h2,
h3 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

pre {
  white-space: pre-wrap;
  background-color: #232426;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

p {
  margin: 0.5rem auto;
}
