* {
  border:1px solid #ccc;
  padding:10px;
}

html {
  height: 100%;
  background-color: #1a1a1a;
  opacity: 0.8;
  color: #cccccc;
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  text-align: left;
  font-family: sans-serif;
  
}

.logo {
  width: 25%
}